<!DOCTYPE html>
<html lang="kr">
<head>
  <div th:replace="fragments/head::head"></div>
  <title>AH</title>
</head>
<body>
<div class="content">
<div class="index">
  <p>안녕하세요. 발표도우미 AH 입니다.</p>
  <button th:onclick="|location.href='@{main}'|" id="index">
    도움받으러 출발
  </button>
</div>
</div>

<style>
  div.index {
    position: relative;
    animation: fadeInLeft 1s;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
</style>
</body>
</html>