<!DOCTYPE html>
<html lang="kr">
<head>
    <div th:replace="fragments/head::head"></div>
    <title>대본분석</title>
</head>
<body>
<div id="wrap">
    <div th:replace="fragments/header::header"></div>
    <h2>발표 대본 분석하기</h2>
    <!-- Display the uploaded file path -->
    <p>발표 대본을 입력하세요!</p>
    <form action="/sendText" method="post">
        <textarea name="textContent" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <p th:if="${message}" th:text="'분석 결과~'+${message}"></p>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>